.checkbox-container {
    display: flex;
    align-items: center;
    height: 50px!important;
}

.checkbox-input {
    margin-right: 8px; /* Adjust spacing between checkbox and label */
}

.textFilter{
    font-family: Outfit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}

